argparse==1.4.0
black==24.4.2
cython<3
git+https://github.com/Farama-Foundation/D4RL@master
distrax==0.1.3
dm-control==1.0.5
flax==0.6.11
gym==0.23.1
gymnasium==1.2.0
minari[hf]==0.5.3
jax[cuda12_pip]==0.4.16
matplotlib==3.8.4
mujoco==2.2.1
mujoco-py==2.1.2.14
numpy==1.22.4
optax==0.1.5
orbax-checkpoint==0.4.4
pre-commit==3.7.1
scipy==1.12.0
tensorflow==2.13.0
tensorstore==0.1.51
tyro==0.7.3
wandb==0.17.3
